head
  title カロリーメイト
header
  ul
    li Top
    li About
    li Menu
main
  div.img
    img(src="./main-img.svg", alt="main-img")
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='./index.js')
